<div>
  <div>
    <h1>
      Apartment image #<%= @the_apartment_image.id %> details
    </h1>

    <div>
      <div>
        <a href="/apartment_images">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_apartment_image/<%= @the_apartment_image.id %>">
          Delete apartment image
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Apartment
      </dt>
      <dd>
        <%= @the_apartment_image.apartment_id %>
      </dd>

      <dt>
        Image url
      </dt>
      <dd>
        <%= @the_apartment_image.image_url %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_apartment_image.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_apartment_image.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit apartment image
    </h2>

    <form action="/modify_apartment_image/<%= @the_apartment_image.id %>"  method="post" >
      <div>
        <label for="apartment_id_box">
          Apartment
        </label>

        <input type="text" id="apartment_id_box" name="query_apartment_id" value="<%= @the_apartment_image.apartment_id %>">
      </div>

      <div>
        <label for="image_url_box">
          Image url
        </label>

        <input type="text" id="image_url_box" name="query_image_url" value="<%= @the_apartment_image.image_url %>">
      </div>

      <button>
        Update apartment image
      </button>
    </form>
  </div>
</div>

<hr>
