


<h1>Received inquiries for my listings</h1>

<table border="1">
  <thead>
    <tr>
      <th>Message</th>
      <th>Apartment</th>
      <th>Inquirer</th>
      <th>Phone number</th>
      <th>Email</th>
      <th>Sent at</th>
    </tr>
  </thead>

  <tbody>
    <% @list_of_inquiries.each do |inquiry| %>
      <tr>
        <td><%= inquiry.message %></td>
        <td><%= inquiry.apartment.title %></td> 
        <td><%= inquiry.asker.name %></td> 
        <td><%= inquiry.asker.phone_number %></td> 
        <td><%= inquiry.asker.email %></td> 
        <td><%= time_ago_in_words(inquiry.created_at) %> ago</td>
      </tr>
    <% end %>
  </tbody>
</table>
