


<div>
  <div>
    <h1>
      Apartment <%= @the_apartment.title%> Details
    </h1>

   
    <dl>

    <% @the_apartment.apartment_images.each do |an_image| %>
  <dt>
    <%= image_tag an_image.image_url , { :height => "300" }%>
  </dt>
<% end %>
      
      <dt>
        <h4> <i class="fa-solid fa-book"></i> Description </h4>
      </dt>
      <dd>
        <%= @the_apartment.description %>
      </dd>

      <dt>
       <h4> <i class="fa-regular fa-address-book"></i> Address </h4>
      </dt>
      <dd>
        <%= @the_apartment.address %>
      </dd>

      <dt>
        <h4><i class="fa-solid fa-city"></i> City</h4>
      </dt>
      <dd>
        <%= @the_apartment.city %>
      </dd>

      <dt>
       <h4> <i class="fa-solid fa-flag-usa"></i> State</h4>
      </dt>
      <dd>
        <%= @the_apartment.state %>
      </dd>

      <dt>
        <h4> <i class="fa-solid fa-hashtag"></i> Zip code </h4>
      </dt>
      <dd>
        <%= @the_apartment.zip_code %>
      </dd>

      <dt>
        <h4><i class="fa-solid fa-dollar-sign"></i> Rent </h4>
      </dt>
      <dd>
        <%= @the_apartment.rent %>
      </dd>

      <dt>
        <h4> <i class="fa-regular fa-calendar"></i> Availability start date </h4>
      </dt>
      <dd>
        <%= Date.parse(@the_apartment.availability_start_date.to_s).strftime("%d %b, %Y") %>
      </dd>

      <dt>
        <h4><i class="fa-regular fa-calendar"></i> Availability end date </h4>
      </dt>
      <dd>
        <%= Date.parse(@the_apartment.availability_end_date.to_s).strftime("%d %b, %Y") %>
      </dd>

    <% if current_user.id != @the_apartment.user_id%>
      <dt>
        <h4> <i class="fa-solid fa-person"></i> Owner <h4>
      </dt>
      <dd>
        <%= @the_apartment.user.name %>
      </dd>
      <%end%>

      <dt>
        <h4>Created at </h4>
      </dt>
      <dd>
        <%= time_ago_in_words(@the_apartment.created_at) %> ago
      </dd>

      <dt>
        <h4>Updated at </h4>
      </dt>
      <dd>
        <%= time_ago_in_words(@the_apartment.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<% if current_user.id == @the_apartment.user_id %>

<div>
  <div>
    <h3>
      Edit apartment
    </h3>

    <form action="/modify_apartment/<%= @the_apartment.id %>"  method="post" >
      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title" value="<%= @the_apartment.title %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_apartment.description %>">
      </div>

      <div>
        <label for="address_box">
          Address
        </label>

        <input type="text" id="address_box" name="query_address" value="<%= @the_apartment.address %>">
      </div>

      <div>
        <label for="city_box">
          City
        </label>

        <input type="text" id="city_box" name="query_city" value="<%= @the_apartment.city %>">
      </div>

      <div>
        <label for="state_box">
          State
        </label>

        <input type="text" id="state_box" name="query_state" value="<%= @the_apartment.state %>">
      </div>

      <div>
        <label for="zip_code_box">
          Zip code
        </label>

        <input type="text" id="zip_code_box" name="query_zip_code" value="<%= @the_apartment.zip_code %>">
      </div>

      <div>
        <label for="rent_box">
          Rent
        </label>

        <input type="text" id="rent_box" name="query_rent" value="<%= @the_apartment.rent %>">
      </div>

      <div>
        <label for="availability_start_date_box">
          Availability start date
        </label>

        <input type="text" id="availability_start_date_box" name="query_availability_start_date" value="<%= @the_apartment.availability_start_date %>">
      </div>

      <div>
        <label for="availability_end_date_box">
          Availability end date
        </label>

        <input type="text" id="availability_end_date_box" name="query_availability_end_date" value="<%= @the_apartment.availability_end_date %>">
      </div>

     
        <input type="hidden" id="user_id_box" name="query_user_id" value="<%= @the_apartment.user_id %>">
      

      <button>
        Update apartment
      </button>
    </form>
  </div>
</div>

<%else%>

<h3> Interested? Send a message to owner! </h3>

<div>
  <div>
    <h2>
      Add a new inquiry
    </h2>



    <form action="/insert_inquiry" method="post">
      <div>
        <label for="message" %>
        Message 
        </label>
        <input type="text" id="message" name="query_message" style="width: 300px; height: 100px;" >
      </div>

    
 
        <input type="hidden" id="apartment_id_box" value="<%= @the_apartment.title%>" name="query_apartment_id">
    
        <input type="hidden" id="asker_id" value="<%= current_user.id %>" name="query_asker_id">
    
        <input type="hidden" id="answerer_id" value="<%= @the_apartment.user.name %>" name="query_answerer_id">
     
  <button> Create query </button>
  </form>

<%end%>

  </div>
</div>

<hr>


<% if current_user.id == @the_apartment.user_id %>
    <h3 style="text-align: left; display: inline;"> <i>No longer want to show this as a listing? </i></h3>
        <a href="/delete_apartment/<%= @the_apartment.id %>">
          Click here to delete the listing 
        </a>
  
      <%end%>
    </div>
